<div class='wrapper-input'>
  <label class='wrapper-input__label' for={{labeling}}>{{ textLabel }}</label>
  <input type={{type}} name={{name}} id={{labeling}} class='wrapper-input__int' name={{inputName}}>
</div>